<form>
	<label for="username">Username</label>
	<input type="text" name="username" #username>
	<label for="language">Language</label>
	<select name="lang" #lang>
		<option *ngFor="let langItem of formConfig.arrOfLangs" value="{{langItem}}">{{langItem}}</option>
	</select>
	<label for="type">Type</label>
	<select name="type" #type>
		<option *ngFor="let typeItem of formConfig.arrOfTypes" value="{{typeItem}}">{{typeItem}}</option>
	</select>
	<button #find (click)="find(username, lang, type); $event.stopPropagation()">Find</button>
</form>